:root {
    --color-azul: #003055;
    --color-amarillo: #ffeb00;
    --color-rojo: #e62b2f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}